{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_townsquare/basicletter

    This template renders a basic letter.
}}
<div class = "container-fluid basicletter">
    <div class = "row letterinformation">
        <div class = "col-md-3 basicletter_date">
            {{created}}
        </div>
        <div class =col-md-8 basicletter_origin>
            In <a href='{{linktocourse}}'>{{coursename}}</a>:
                {{modulename}}:
        </div>
    </div>
    <div class = "lettercontent">
        {{content}}
    </div>
</div>