{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_townsquare/todayletter

    This template renders the letter that shows the current date.
}}
<div class="orientationmarker card text-dark mb-3" id="content-nr-{{contentid}}">
    <div class="orientationmarker_body card-body">
            {{#str}} orientationmarkercontent, block_townsquare, {
                "username": {{#quote }} {{username}} {{/quote}},
                "date": {{#quote}} {{date}} {{/quote}} }
            {{/str}}
    </div>
</div>