{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_townsquare/postletter

    This template renders a post letter.
}}
<div class="townsquare_letter postletter card mb-3" id="content-nr-{{contentid}}">
    <div class="townsquareletter_header postletter_header card-header">
        <div class = "townsquareletter_top postletter_top">
            <div class = "townsquareletter_course postletter_course">
                {{#str}} coursetitle, moodle, {
                    "course": {{#quote}} <a href='{{linktocourse}}' style="color: #fff">{{coursename}}</a> {{/quote}} }
                {{/str}}
            </div>
            <div class = "townsquareletter_date postletter_date">
                {{created}}
            </div>
        </div>
    </div>
    <div class="townsquareletter_body postletter_body card-body">
        <div class = "postletter_origin">
            <bold>
                {{#anonymous}}
                    {{#str}} postletterorigin, block_townsquare, {
                        "authorname": {{#quote}} <i> anonymous </i> {{/quote}},
                        "instancename": {{#quote}} <a href='{{linktomoduleinstance}}'>{{instancename}}</a> {{/quote}},
                        "discussionname": {{#quote}} <a href='{{linktopost}}'>{{discussionsubject}}</a> {{/quote}} }
                    {{/str}}
                {{/anonymous}}
                {{^anonymous}}
                    {{{authorpicture}}}
                    {{#str}} postletterorigin, block_townsquare, {
                        "authorname": {{#quote}} <a href='{{linktoauthor}}'>{{authorname}}</a> {{/quote}},
                        "instancename": {{#quote}} <a href='{{linktomoduleinstance}}'>{{instancename}}</a> {{/quote}},
                        "discussionname": {{#quote}} <a href='{{linktopost}}'>{{discussionsubject}}</a> {{/quote}} }
                    {{/str}}
                {{/anonymous}}
            </bold>
        </div>
        <p></p>
        <div class = "postletter_content">
                <span class ="postletter_message" id="content-nr-{{contentid}}" >
                    {{{message}}}
                </span>
                <span class="townsquare_showmore badge rounded-pill bg-light text-dark" id="content-nr-{{contentid}}"
                      data-action="block_townsquare/showmore_button">
                    {{#str}} showmore, moodle {{/str}}
                </span>
        </div>
    </div>
</div>
