{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_townsquare/postletter

    This template renders a post letter.
}}
<div class="postletter card text-dark border-warning mb-3">
    <div class=" postletter_header card-header">
        <div class = "postletter_top">
            <div class = "postletter_course">
                {{#str}} lettercourse, block_townsquare, {"course":
                    {{#quote}} <a href='{{linktocourse}}'>{{coursename}}</a> {{/quote}} } {{/str}}
            </div>
            <div class = " postletter_date">
                {{created}}
            </div>
        </div>
    </div>
    <div class="postletter_body card-body">
        <div class = "postletter_origin">
            <bold>
                {{#author}}
                    {{{authorpicture}}}
                    {{#str}} postletterorigin, block_townsquare,
                        {"authorname": {{#quote}} <a href='{{linktoauthor}}'>{{authorname}}</a> {{/quote}},
                         "localname": {{#quote}} <a href='{{linktomoduleinstance}}'>{{localname}}</a> {{/quote}},
                         "discussionname": {{#quote}} <a href='{{linktopost}}'>{{subject}}</a> {{/quote}} }
                    {{/str}}
                {{/author}}
                {{^author}}
                    {{#str}} postletterorigin, block_townsquare,
                        {"authorname": {{#quote}} <i> anonymous </i> {{/quote}},
                        "localname": {{#quote}} <a href='{{linktomoduleinstance}}'>{{localname}}</a> {{/quote}},
                        "discussionname": {{#quote}} <a href='{{linktopost}}'>{{subject}}</a> {{/quote}} }
                    {{/str}}
                {{/author}}
            </bold>
        </div>
        {{#js}}
            require(['block_townsquare/postletter'],
            function(main) {
            main.init();
            }
            );
        {{/js}}
        <div class = "postletter_content" id="postletter_content">
            <p> {{{message}}} </p>
        </div>
    </div>
</div>
