{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_townsquare/sidepanel

    IMPORTANT: This template is for moodle version <5.0. As moodle changed in 5.0 to a
    newer bootstrap version, many changes were necessary. Delete this file when versions
    older than 5.0 are not supported anymore.

    This template renders the side panel with the filters for the townsquare content.

    Variables required for this template:
    * courses - Array of courses that show notifications in townsquare
    * helpicon - Text that the help icon shows

    Example (json):
    {
        "courses" : [
            {
                "courseid" => 20,
                "coursename" => "
            },
        ],
        "helpicon" : [
            {
                "text" => "By clicking on the save button ..."
            }
         ]
     }
}}
<div class="townsquare_filter_menu accordion" id="ts_filter">
    <div class="card">
        <div class="card-header" id="ts_course_filter">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ts_user_courses" aria-expanded="true" aria-controls="ts_user_courses">
                    {{#str}}coursefilter, block_townsquare{{/str}}
                </button>
            </h2>
        </div>

        <div id="ts_user_courses" class="collapse show" aria-labelledby="ts_course_filter" data-parent="#ts_filter">
            <div class="card-body">
                {{#courses}}
                    <div class="form-check">
                        <input class="ts_course_checkbox form-check-input" name="ts_course_checkbox" type="checkbox" value="" data-courseid="{{courseid}}" data-coursename="{{coursename}}" id="ts_course_{{courseid}}" checked>
                        <label class="form-check-label" for="ts_course_{{courseid}}">
                            {{coursename}}
                        </label>
                    </div>
                {{/courses}}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="ts_time_filter">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ts_times" aria-expanded="true" aria-controls="ts_times">
                    {{#str}}timefilter, block_townsquare{{/str}}
                </button>
            </h2>
        </div>
        <div id="ts_times" class="collapse" aria-labelledby="ts_time_filter" data-parent="#ts_filter">
            <div class="card-body">
                <div class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">
                    <label class="ts_time_buttons btn btn-secondary active">
                        <input class="ts_all_time_button" type="radio" checked="checked" name="ts_time_options" id="ts_time_all" autocomplete="off" > {{#str}}allnotifications, block_townsquare{{/str}}
                    </label>
                </div>

                <div class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">
                    <label class="ts_time_buttons btn btn-secondary">
                        <input class="ts_future_time_button" type="radio" name="ts_time_options" id="ts_time_next_twodays" autocomplete="off"> {{#str}}nexttwodaysnotifications, block_townsquare{{/str}}
                    </label>
                    <label class="ts_time_buttons btn btn-secondary">
                        <input class="ts_future_time_button" type="radio" name="ts_time_options" id="ts_time_next_fivedays" autocomplete="off"> {{#str}}nextfivedaysnotifications, block_townsquare{{/str}}
                    </label>
                    <label class="ts_time_buttons btn btn-secondary">
                        <input class="ts_future_time_button" type="radio" name="ts_time_options" id="ts_time_next_week" autocomplete="off"> {{#str}}nextweeknotifications, block_townsquare{{/str}}
                    </label>
                    <label class="ts_time_buttons btn btn-secondary">
                        <input class="ts_future_time_button" type="radio" name="ts_time_options" id="ts_time_next_month" autocomplete="off"> {{#str}}nextmonthnotifications, block_townsquare{{/str}}
                    </label>
                </div>

                <div class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">
                    <label class="ts_time_buttons btn btn-secondary">
                        <input class="ts_past_time_button" type="radio" name="ts_time_options" id="ts_time_last_twodays" autocomplete="off"> {{#str}}lasttwodaysnotifications, block_townsquare{{/str}}
                    </label>
                    <label class="ts_time_buttons btn btn-secondary">
                        <input class="ts_past_time_button" type="radio" name="ts_time_options" id="ts_time_last_fivedays" autocomplete="off"> {{#str}}lastfivedaysnotifications, block_townsquare{{/str}}
                    </label>
                    <label class="ts_time_buttons btn btn-secondary">
                        <input class="ts_past_time_button" type="radio" name="ts_time_options" id="ts_time_last_week" autocomplete="off"> {{#str}}lastweeknotifications, block_townsquare{{/str}}
                    </label>
                    <div class="divider"></div>
                    <label class="ts_time_buttons btn btn-secondary">
                        <input class="ts_past_time_button" type="radio" name="ts_time_options" id="ts_time_last_month" autocomplete="off"> {{#str}}lastmonthnotifications, block_townsquare{{/str}}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="ts_letter_filter">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ts_fletters" aria-expanded="false" aria-controls="ts_fletters">
                    {{#str}}letterfilter, block_townsquare{{/str}}
                </button>
            </h2>
        </div>
        <div id="ts_fletters" class="collapse" aria-labelledby="ts_letter_filter" data-parent="#ts_filter">
            <div class="card-body">
                <div class="form-check">
                    <input class="ts_letter_checkbox form-check-input" name="ts_letter_checkbox" type="checkbox" value="" id="basicletter" checked>
                    <label class="form-check-label" for="ts_basicletter_check">
                        {{#str}}basicletters, block_townsquare{{/str}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="ts_letter_checkbox form-check-input" name="ts_letter_checkbox" type="checkbox" value="" id="completionletter" checked>
                    <label class="form-check-label" for="ts_completionletter_check">
                        {{#str}}completionletters, block_townsquare{{/str}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="ts_letter_checkbox form-check-input" name="ts_letter_checkbox" type="checkbox" value="" id="postletter" checked>
                    <label class="form-check-label" for="ts_postletter_check">
                        {{#str}}postletters, block_townsquare{{/str}}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class = "dropdown-divider"></div>

    <div class="ts_usersettings">
        <div class="ts_usersettings_button">
            <div class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">
                <button type="button" class="btn btn-secondary" id="ts_usersettings_savebutton">{{#str}}savebutton, block_townsquare{{/str}}</button>
            </div>
            <div class="ts_usersettings_help">
                {{#savehelpicon}}
                    {{>core/help_icon}}
                {{/savehelpicon}}
            </div>
        </div>
        <div class = "dropdown-divider"></div>
        <div class="ts_usersettings_button">
            <div class="btn-group-vertical btn-group-toggle btn-block" data-toggle="buttons">
                <button type="button" class="btn btn-secondary" id="ts_usersettings_resetbutton">{{#str}}resetbutton, block_townsquare{{/str}}</button>
            </div>
            <div class="ts_usersettings_help">
                {{#resethelpicon}}
                    {{>core/help_icon}}
                {{/resethelpicon}}
            </div>
        </div>
    </div>
</div>